<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Automation Testing">

    <listeners>
        <listener class-name="commons.MethodListener"/>
        <listener class-name="ReportConfigs.AllureTestListener"/>

    </listeners>

    <parameter name="userUrl" value="https://demo.nopcommerce.com/" />
    <parameter name="adminUrl" value="https://admin-demo.nopcommerce.com/" />



    <test name="Run on Chrome browser">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.nopcommerce.users.Level_16_AllureReport" />
        </classes>
    </test>



</suite>